<h1 class="title">React-Bootstrap</h1>

<h4>
    Accordion Of Alerts
    <%= link_to '(doc)', 'https://react-bootstrap.github.io/components/accordion/' %>
</h4>
<%= react_component("react_bootstrap/AccordionOfAlerts") %>

