<%= image_tag("logos/rails_bw_403x512.png", :alt => "Rails",   size: "101x128") %>
<%= image_tag("logos/reactjs_512x512.png",  :alt => "ReactJS", size: "128x128") %>

<%= javascript_pack_tag 'hello_react' %>
<h1>Demo#index: Simple tests of ReactJS</h1>
<%= react_component("HelloWorld", {greeting: "Hello from react-rails component!"}) %>
