<h1 class="title">React Inline Styles</h1>

<h2 class="lesson">37. Introducing Inline Styles</h2>
<%= react_component("fcc/inline_styles/Colorful") %>

<h2 class="lesson">37. Add Inline Styles in React</h2>
<%= react_component("fcc/inline_styles/NewColorful") %>
