<h1 class="title">ReactJS Skills</h1>

<h4>The App of 2019 has been restored and updated with ReactJS 18</h4>
<p></p>
<ul>This page contains two components:
  <ol>HomeNab</ol>
  <ol>Homeboard</ol>
</ul>
<%= react_component("HomeNav") %>
<%= react_component 'Homeboard' %>
