<div class='container'>
  <h1>Hooks</h1>

  <h2 class="lesson">useState Hook<h2>
  <h4>Example with Class Component</h4>
  <%= react_component 'hooks/CounterClassExample' %>

  <h4>Example with Hook Component</h4>
  <%= react_component 'hooks/CounterHookExample' %>
</div>